body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.floating-box {
    float: left;
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 15px solid blue;  
}

.after-box {
    clear: left;
    border: 15px solid blue;      
}

.box-red {
    border: 15px solid red;      
}

.center-div {
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 400px;
    width: 300px;
    height: 50px;
}

.center-div-board {
    position: absolute;
    margin: auto;
    top: 550px;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 1000px;
    height: 1000px;
}

.bottom-footer {
    position:fixed;
    bottom:0;
}